<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
	<style>
		.table{margin-top:500px;margin-left:200px;margin-right:500px;margin-bottem 			:500px;}
	</style>

<script>
function b1changeImage() {
    var image = document.getElementById('b1');

    if (image.src.match("b1sia")) {
        image.src = "b1.jpg";
    } else {
        image.src = "b1sia.jpg";
    }

   
}

function b2changeImage() {
    var image = document.getElementById('b2');

    if (image.src.match("b2sia")) {
        image.src = "b2.jpg";
    } else {
        image.src = "b2sia.jpg";
    }

   
}

function b3changeImage() {
    var image = document.getElementById('b3');

    if (image.src.match("b3sia")) {
        image.src = "b3.jpg";
    } else {
        image.src = "b3sia.jpg";
    }

   
}

function t1changeImage() {
    var image = document.getElementById('t1');

    if (image.src.match("t1sia")) {
        image.src = "t1.jpg";
    } else {
        image.src = "t1sia.jpg";
    }

   
}
function t2changeImage() {
    var image = document.getElementById('t2');

    if (image.src.match("t2sia")) {
        image.src = "t2.jpg";
    } else {
        image.src = "t2sia.jpg";
    }

   
}
function t3changeImage() {
    var image = document.getElementById('t3');

    if (image.src.match("t3sia")) {
        image.src = "t3.jpg";
    } else {
        image.src = "t3sia.jpg";
    }

   
}













</script>
</head>

<body>
	<table align="center" class="table">
    	<tr>
        	<td><a href="" title="march"><img src="b1.jpg" id="b1" alt="march" height="200" width="200" onmouseover="b1changeImage()" onmouseout="b1changeImage()"></a></td>
      
        	<td><a href="" title="april"><img src="b2.jpg" id="b2" alt="april" height="200" width="200" onmouseover="b2changeImage()" onmouseout="b2changeImage()"></a></td>
   
        	<td><a href="" title="may"><img src="b3.jpg" id="b3" alt="may" height="200" width="200" onmouseover="b3changeImage()" onmouseout="b3changeImage()"></a></td>
        </tr>
       <tr>
        	<td><a href="" title="june"><img src="t1.jpg" alt="june" height="200" width="200" ></a></td>
      
        	<td><a href="" title="july"><img src="t2.jpg" alt="july" height="200" width="200" ></a></td>
  
        	<td><a href="" title="august"><img src="t3.jpg" alt="august" height="200" width="200" ></a></td>
        </tr>    
    	<tr>
        	<td><a href="" title="september"><img src="p1.jpg" alt="september" height="200" width="200" ></a></td>
            	<td><a href="" title="octobr"><img src="p3.jpg" alt="octobr" height="200" width="200"></a></td>
            	<td><a href="" title="novamber"><img src="p2.jpg" alt="novamber" height="200" width="200"  ></a></td>
        </tr>
        <tr>
        	<td><a href="" title="besember"><img src="z2.jpg" alt="desmber" height="200" width="200"></a></td>
            	<td><a href="" title="januery"><img src="z3.jpg" alt="januery" height="200" width="200"></a>  </td>
            	<td><a href="" title="febuery"><img src="z1.jpg" alt="febuery" height="200" width="200"></a> </td>
        </tr>
     </table>       
</body>
</html>
